.DS_Store
node_modules/
backend/dist/
frontend/dist/
frontend/tsconfig.tsbuildinfo
contracts/build/
contracts/out/
contracts/cache/
cache/
contracts/.env
.env
backend/.env
.history/
*.log
foundry.lock
